In [21]:
import numpy as np
import pandas as pd

In [22]:
np.__version__

'1.19.2'

In [23]:
pd.__version__

'1.1.3'

In [24]:
car_df = pd.read_csv("data.csv")

In [25]:
car_df.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [26]:
car_df.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Genesis             3
Spyker              3
Bugatti             3
Name: Make, dtype: int64

In [27]:
car_df[car_df.Make == "BMW"].MSRP.describe().transpose()

count       334.000000
mean      61546.763473
std       27982.682153
min        4697.000000
25%       42300.000000
50%       51850.000000
75%       79725.000000
max      141200.000000
Name: MSRP, dtype: float64

In [28]:
car_df[(car_df.Year > 2015)].isnull().sum()

Make                   0
Model                  0
Year                   0
Engine Fuel Type       0
Engine HP             35
Engine Cylinders       6
Transmission Type      0
Driven_Wheels          0
Number of Doors        5
Market Category      851
Vehicle Size           0
Vehicle Style          0
highway MPG            0
city mpg               0
Popularity             0
MSRP                   0
dtype: int64

In [29]:
car_df["Engine HP"].describe().transpose()

count    11845.00000
mean       249.38607
std        109.19187
min         55.00000
25%        170.00000
50%        227.00000
75%        300.00000
max       1001.00000
Name: Engine HP, dtype: float64

In [30]:
car_df["Engine HP"].fillna(value = car_df["Engine HP"].mean(), inplace=True)

In [31]:
car_df["Engine HP"].describe().transpose()

count    11914.000000
mean       249.386070
std        108.875192
min         55.000000
25%        170.000000
50%        227.000000
75%        300.000000
max       1001.000000
Name: Engine HP, dtype: float64

In [32]:
X = np.array(car_df[car_df["Make"] == "Rolls-Royce"][["Engine HP", "Engine Cylinders", "highway MPG"]].drop_duplicates())

In [33]:
# X

In [34]:
X_transpose = X.T

In [36]:
XTX = np.matmul(X_transpose, X)

In [37]:
np.linalg.inv(XTX).sum()

0.032212320677486195

In [38]:
y  = [1000, 1100, 900, 1200, 1000, 850, 1300]

In [49]:
w = np.matmul(np.matmul(np.linalg.inv(XTX), X_transpose), y)

In [52]:
w[0]

0.19989598183186175